html{
 background-color: rgb(1, 18, 1);
 color: white;
}

/* variables */
:root {
 --green: #063d3d;
 --gold: #bfa778;
 --white: #e4e8ea;
 --purple: #252f53;
}

/* Font definitions */
@font-face {
 font-family: mhpFonts;
 src: url(/fonts/GallientDemoVersion-Regular\ 400.otf);
}

@font-face {
 font-family: gruppo;
 src: url(/fonts/Gruppo-Regular.ttf);
}

body,
p,
h1,
h2,
h3,
h4,
a,
li {
 margin: 0px;
 padding: 0px;
 list-style-type: none;
 text-decoration: none;
 color: var(--white);
}

/* global settings */
body {
 background-color: var(--green);
 /* color: var(--white); */
}

.site_wrapper {
 overflow-x: hidden;
}

h1 {
 font-family: mhpFonts;
}

h1 span{
 font-family: 'Times New Roman', Times, serif;
}

h3 {
 font-family: gruppo;
 color: var(--gold);
}




/* Unique style starts here */

.portfolio_ideas{
 padding: 40px;
}

.ideas_advice_topic h3{
 font-size: 1.2em;
 text-align: center;
}

.ideas_advice_topic h1{
 font-size: 2.5em;
}

#and_advice{
 margin-top: -15px;
 margin-left: 40px;
}


.ideas_advice_image1{
 width: 90%;
 margin: auto;
 position: relative;
}

.ideas_advice_image1 img{
 width: 100%;
 margin: auto;
}

.ideas_advice_left_data{
 position: absolute;
 bottom: 3%;
 left: 3%;
}

.ideas_advice_left_data{
 width: 100%;
 color: var(--white);
}

.ideas_advice_left_data h1{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 0.7em;
 margin-bottom: 10px;
}

.ideas_advice_left_data p{
 font-family: Arial, Helvetica, sans-serif;
 width: 70%;
 font-size: 0.6em;
 color: var(--white);
}

.ideas_advice_left_data a{
 margin-top: 30px;
 font-size: 0.7em;
}

.recolor h1{
 width: 80%;
 color:rgb(46, 46, 46);
}

.recolor p{
 width: 80%;
 color: rgb(46, 46, 46);
}

.recolor a{
 width: 80%;
 color: rgb(46, 46, 46);
}