/* Font definitions */
@font-face {
 font-family: mhpFonts;
 src: url(/fonts/GallientDemoVersion-Regular\ 400.otf);
}

@font-face {
 font-family: gruppo;
 src: url(/fonts/Gruppo-Regular.ttf);
}

/* @font-face {
 font-family: gallient;
 src: url(/fonts/GallientDemoVersion-Regular\ 400.otf);
} */


body{
 background-color: #063d3d;
}

.main {
 background-color: #063d3d;
 height: 100vh;
 color: #e3e7e9;
 padding-top: 20px;

}

.content{
  background-image: url("/img/image-2.png");
  background-repeat: no-repeat;
  background-position-x: 170%;
  margin: -20px 0px 0px 30px;
  height: 100vh;
}

.navigation{
 padding-top: 50px;
}

/* .logo{
} */

.navlinks{
 padding-top: 20px;
 text-align: right;
 padding-left: 150px;
}

.mhpnav{
 /* padding-left: 100px; */
 padding-top: 10px;

}

.mhpnav a{
 margin-left: 10px;
 text-decoration: none;
 color: #e3e7e9;
 font-weight: bolder;
}

.mhpnav a:hover{
 background-color: white;
 color: #063d3d;
 text-align: center;
}

.mhpSocials{
 margin-left: 50px;
}

.mhpSocials a img{
 height: auto;
 width: 30px;
 height: auto;
 padding-left: 10px;
}

#twitter img{
 background-color: #e4e8ea;
 border-radius: 10px;
 width: 20px;
 height: auto;
 padding-left: 0px;
 margin-left: 10px;
}



/* Home View styling starts here */
.home_view{
 margin-bottom: -80px;
 margin-top: 40px;
 height: 100vh;
}

.left_view{
 /* width: 50%; */
 /* height: auto; */
 margin-top: -10px;
}

.left_view p{
 font-family: serif;
 font-size: 100px;
 font-weight: 10;
 text-transform: uppercase;
 margin-bottom: -60px;
 
}

.home_button{
 position: absolute;
 top:50%;
 margin-left: 39%;
}

.build_btn{
   background-image: linear-gradient(90deg, #107474, #032121);
   padding: 10px 30px;
   font-weight: 500;
   border: #107474 1px;
   
}

.build_btn:hover{
 background-image: linear-gradient(270deg, #107474, #032121);
 padding: 10px 30px;
 border: #107474 1px;
 transition: background-image 0.50s;

}

.quote_text{
 position: absolute;
 margin-top: 150px;
 margin-left: -250px;
 width: 250px;
 font-size: small;
}

.quote_text figcaption{
 color: white;
 float: right;
 margin-top: 15px;
}

.building_dreams{
 background-color: #e3e7e9;
  color: rgb(49, 49, 49);

}

.building_dreams_quote{
  margin: 100px 0px 0px 30px;
  font-size: larger;
}

.building_dreams_quote p{
 
 text-transform: uppercase;
 font-family: mhpFonts;
 font-size: 50px;
 letter-spacing: 0.001em;
 font-weight: 500;
 margin-top: -30px;
}

#oneat{
 margin-left: 20px;
}

#timetime{
 margin-left: 60px
}

.building_dreams_text{
 margin: 100px 0px 100px 30px;
}

.building_dreams_text p{
 width: 400px;
 text-align: justify;
 font-size: small;
}

.img_carousel span{
 padding-left: 40%;
}

.img_carousel span a{
 color: #032121;
 font-weight: bolder;
 margin: 20px;
}


.img_carousel{
 width: 80%;
 margin: auto auto 100px auto;
}

.who_we_are{
 background-color: #063d3d;
 padding-top: 80px;
}

#who_we_are{
 font-family: 'Courier New', Courier, monospace;
 text-align: center;
 font-size: 30px;
 color: #bfa778;
}

.who_we_are_topic h1{
 margin: 30px 0px -40px 70px;
 padding-bottom: 0px;
 text-transform: uppercase;
 font-family: mhpFonts;
 font-size: 70px;
 font-weight: 10;
}

#topic_your{
 padding-left: 150px;
}

.who_we_are_topic span{
 font-family:'Times New Roman', Times, serif;
 margin-left: -20px;
 font-size: larger;
}


.who_we_are_quote{
 position: absolute;
 left: 250px;
 margin-top: 100px;
 width: 400px;
 font-size: 90%;
 text-align: justify;
}

.who_we_are_img img{
 height: auto;
 width: 100%;
 margin-left: -20px;
}

#who_we_are_arrow{
 /* margin: -30px 20px 40px 250px; */
 /* padding-left: 100px; */
 color:#bfa778;
 font-size: 30px;

}

.mhp_services_container{
 background-color: #e3e7e9;
}

.mhp_services{
 background-color: #e3e7e9;
 width: fit-content;
 margin: 40px 34px 40px 70px;
 padding: 40px
}
.service_item{
 padding: 30px 30px 30px 50px
}

.service_item_img img{
 width: 120px;
 height: 120px;
 border-radius: 50%;
}

.service_item_text{
 margin: 40px 140px ; 
 position: absolute;
 width: 150px;
 font-weight: 700;
 color: #252f53;
 text-transform: uppercase;


}
.service_item_service{
 position: relative;
 margin-right: -250px;

}

.service_item_service h1{
  color: #252f53;
  font-weight: 100;
  text-align: right;
  font-family: mhpFonts;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-size: 60px;
  margin-bottom: -20px;
}


/* what we do styling starts here */
.what_we_do{
 background-color: #063d3d;
 height: 100vi;
}

.what_we_do_heading{
 padding: 60px 0px 0px 60px;
}

.what_we_do_heading p{
 font-family:'Courier New', Courier, monospace;
 color: #bfa778;
}

.what_we_do_heading h1{
 margin-top: -20px;
 font-size: 60px;
 font-family: mhpFonts;
 letter-spacing: -0.05em;
 font-weight: 300;
 word-spacing: 0.1em;
 text-transform: uppercase;
}

#what_we_do_we_work{
 margin-top: -30px;
 padding-left: 65px
}

.what_we_do_carousel{
 width: 80%;
 height: 430px;
 border-top: dotted 2px white;
 border-bottom: dotted 2px white;
 margin: -550px auto 0px auto;
}

.what_we_do_nav_top{
 margin-left: 90px;
}

.what_we_do_nav_btn{
 position: relative;
 top: -12px;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 border: dotted 2px white;
 background-color: #252f53;
 align-items: center;
 text-align: center;
}

.what_we_do_nav_btn a{
 position: relative;
 top: -80px;
 left: -1px;
 text-decoration: none;
 color: white;
 text-align: center;
 font-size: 80px;

}


.what_we_do_txt{
 margin-left: -40px;
 margin-top: -10px;
 font-size: smaller;
}

.what_we_do_data_img{
 margin-right: -30px;
 height: 300px;

}


.what_we_do_square {
 position: relative;
 /* top: -12px; */
 width: 10px;
 height: 10px;
 rotate: 45deg;
 border: solid 2px #252f53;
 background-color: #252f53;
 align-items: center;
 text-align: center;
}


.what_we_do_data{
 height: 300px;
 margin-top: 10px;
 background-color: #e3e7e9;
 color: black;
}

.what_we_do_data_text{
 text-align: justify;
 margin: auto;
}

/* what we do bottom navigation here */

.what_we_do_nav_bottom{
 margin-left: 90px;
}
 
.btm_what_we_do_nav_btn{
  position: relative;
  top: 35px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: dotted 2px white;
  background-color: #252f53;
  text-align: center;

}

.btm_what_we_do_nav_btn a {
 position: relative;
 top: -80px;
 left: -1px;
 text-decoration: none;
 color: white;
 text-align: center;
 font-size: 80px;
}

.btm_what_we_do_txt p {
 position: relative;
 top: 35px;
 right: 10px;
 /* margin-left: -40px;
 margin-top: 10px; */
 font-size: smaller;
}


.btm_what_we_do_square{
  position: relative;
  bottom: -6px;
  width: 10px;
  height: 10px;
  rotate: 45deg;
  border: solid 2px #252f53;
  background-color: #252f53;


}

/* Our Recent Project Styling starts here */

.our_recent_projects{
 background-color: #063e3e;
 color: black;
 width: 80%;
 margin: auto;
 margin-top: -550px;
}

.div_topic{
 text-align: center;
 color: #bfa778;
}

.div_topic p{
 font-family: 'Courier New', Courier, monospace;
 font-size: 40px;
}

.recent_projects_left{
 width: 40%;
 margin: -40px auto 0px auto;
}


.recent_projects_right{
 width: 40%;
 margin: 20px auto 0px auto;
}

.recent_project_item{
 margin-top: 70px;
 
}

#item_description{
  color: #bfa778;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

#item_location{
 color: #e3e7e9;
 text-transform: capitalize;
 font-size: larger;
 margin: -10px 0px 50px 0px;

}



.recent_projects_heading h1{
 color: #e3e7e9;
 width: 100%;
 margin: 10px auto 30px auto;
 font-family: mhpFonts;
 font-size: 60px;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: -0.01em;
 word-spacing: 0.01em;
}


.ideas_advice_container{
 padding-top: 50px;
 background-color: #e3e7e9;
 color: #252f53;
}

.ideas_advice{
 width: 90%;
 margin: 40px auto auto auto;
}

.ideas_advice_topic p{
  font-family: gruppo;
   font-size: 40px;
   color:#bfa778;
}

.ideas_advice_topic h1{
 font-family: mhpFonts;
 font-size: 80px;
 margin-top: -40px;
}

#and_advice{
 padding-left: 100px;
 margin-top: -30px;
}

#and_advice span {
 font-family: 'Times New Roman', Times, serif;
 margin-left: -20px;

}
 
.ideas_advice_data{
 margin-left: 50px;
}

.ideas_advice_left{
 padding: 20px 0px 0px 0px;
 width: 50%;
 position: relative;
}

.ideas_advice_left img{
 width: 100%;
}

.ideas_advice_left_data{
 position: absolute;
 color: #e3e7e9;
 bottom: 0px;
 margin-bottom: 30px;
 margin-left: 12px;
 width: 60%;
}

.ideas_advice_left_data h1{
 font-size: 17px;
}

.ideas_advice_left_data p{
 font-size: 12px;
 text-align: justify;
}

.ideas_advice_left_data a{
 font-size: 12px;
 text-decoration: none;
 color: #e3e7e9;
}

.top_ideas_advice_right{
 position: relative;
}

.top_ideas_advice_right_data {
 position: absolute;
 color: #e3e7e9;
 bottom: 0px;
 margin-bottom: 30px;
 margin-left: 40px;
 width: 80%;
}

.top_ideas_advice_right_data h1 {
 font-size: 17px;
}

.top_ideas_advice_right_data p {
 font-size: 12px;
 text-align: justify;
}

.top_ideas_advice_right_data a {
 font-size: 12px;
 text-decoration: none;
 color: #e3e7e9;
}


.bottom_ideas_advice_right_data {
 position: absolute;
 color:#252f53;
 bottom: 0px;
 margin-bottom: 30px;
 margin-left: 40px;
 width: 80%;
}

.bottom_ideas_advice_right_data h1 {
 font-size: 17px;
}

.bottom_ideas_advice_right_data p {
 font-size: 12px;
 text-align: justify;
}

.bottom_ideas_advice_right_data a {
 font-size: 12px;
 text-decoration: none;
 color: #252f53;
}


.ideas_advice_right{
 width: 40%;

}
.ideas_advice_right img {
 padding: 20px;
 width: 100%;
}


.different_company_container{
 margin: 20px auto 20px auto;
 padding: 80px 20px 0px 40px;
 background-color: #e3e7e9;
 color:#252f53;
}

.different_company_main{
 margin: auto;
 align-content: center;
 margin-left: 60px;
}

.different_company_main_left{
 margin-top: 30px;;
}

.diff_logo_square{
 margin-top: 20px;
 width: 100px;
 height: 100px;
 border: solid 0px #252f53;
 border-radius: 50%;
 background-color: #252f53;
}

.diff_logo_square i{
 position: absolute;
 color: #e4e8ea;
 font-size: 50px;
 margin: 10px 0px 0px 24px;
 padding: auto;
}


.diff_data_text h1{
 text-align: justify;
 font-size: 20px;
 font-weight: 700;
}

.diff_data_text p{
 text-align: justify;
 font-size: 15px;
 font-weight: 400;
 padding: 0px 40px 0px 0px;
}



.different_company_main_right h1{
 font-family: mhpFonts;
 text-transform: uppercase;
 text-align: left;
 font-size: 80px;
 letter-spacing: -0.01em;
 margin-bottom: -30px;
}

#a_different{
 margin-left: 80px;
}

.different_company_main_right img{
 margin-top: 60px;
 height: 400px;
}


/* Client Reveiew Styling starts here */

/* .client_review_container{
 padding-bottom: 1px;
} */
.client_review_main{
 width: 80%;
 margin: 100px auto 0px auto;
}

.client_review_left{
margin-top: -40px;
}

.client_review_left p{
 color: #bfa778;
 font-family: gruppo;
 font-size: 36px;
}

.client_review_left h1{
 font-family: mhpFonts;
 font-size: 80px;
 font-weight: 300;
 text-transform: uppercase;
}

.client_review_left h2{
 font-family: mhpFonts;
 font-size: 78px;
 font-weight: 300;
 text-transform: uppercase;
 margin-top: -30px;
 margin-left: 120px;
 /* margin: -20px 0px 30px 90px; */
}


.client_review_left img{
 border-radius: 20px;
 width: 502px;
 height: 316px;
 margin-bottom: 100px;
}

.client_review_right{
margin-left: -50px;
}

.review_pane img{
 width: 90px;
 height: 90px;
 border-radius: 50%;
 margin-top: 20px;
}

.review_pane{
 width: 500px;
 margin-bottom: 20px;
}

.review_pane p{
 width: 100%;
 padding-left: 40px;
 font-size: 15px;
 font-weight: 400px;
 line-height: 27px;
}

.review_pane h3{
 width: 100%;
 padding-left: 40px;
 font-size: 20px;
 font-weight: 600px;
}



/* 
.service_item_text p{
 color: rgb(49, 49, 49);
 font-weight:600;
 text-transform: uppercase;
 display: inline;

} */
.test{
 background-color: aliceblue;
 color: black;
 color: #bfa778;
 color: #032121;
}