/* variables */
:root {
 --green: #063d3d;
 --gold: #bfa778;
 --white: #e4e8ea;
 --purple: #252f53;
}

/* Font definitions */
@font-face {
 font-family: mhpFonts;
 src: url(/fonts/GallientDemoVersion-Regular\ 400.otf);
}

@font-face {
 font-family: gruppo;
 src: url(/fonts/Gruppo-Regular.ttf);
}

/* reset */
body,p,h1,h2,h3,h4,a,li{
 margin: 0px;
 padding: 0px;
 list-style-type: none;
 text-decoration: none; 
 color: var(--white);
}

/* global settings */
body{
 background-color: var(--green);
 /* color: var(--white); */
}
.site_wrapper{
 overflow-x: hidden;
}

h1{
 font-family: mhpFonts;
}

h3{
 font-family: gruppo;
 color: var(--gold);
}





/* Phone setting here */
/* .mhpNav{
position: fixed;
z-index: 2;
background-color: var(--green);
/* top: 0%;
} */


#mhpLinks {
 display: none;
 position: fixed;
 z-index: 1;
 width: 100vw;
 height: 100vh;
 float: right;
 text-align: right;
 background-color: #063d3d;
 margin-left: -40px;
 margin-top: -5px;

}

#mhpLinks li{
 padding: 20px;
 text-transform: uppercase;
 font-weight: 400;
 margin-left: -30px;
}

#mhpLinks a{
 color: var(--white)
}


.mhp_logo img{
 width: 100%;
}

.mhp_nav_grid{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 10px;
}

.mhp_nav_grid a{
 padding: 20px 0px 0px 20px;
 color: var(--white)
}


.toggle_icon i{
 float: right;
 font-size: 40px;
 padding-right: 20px;
 color: var(--white);
}

#links_socials a{
 margin: 20px;
}

/* section styling for mobile screens */
.mhp_home_mobile{
 position: relative;
 width: 100vw;
 height: 80vh;
}


.mhp_home_mobile img{
 height:80vh;
}

.mob_left_view{
 position: absolute;
 top: 30%;
}

.mob_left_view h1{
 font-size: 45px;
 margin:0px 0px -10px 10px;
 text-transform: uppercase;
 top: 50%;
}

.mob_home_button{
  position: absolute;
   top: 40%;
   left: 40%;
}

.build_btn{
 padding: 20px 30px;
 background-image: linear-gradient(90deg, #107474, #032121);
 border-radius: 10px;
 color: var(--white);
 font-weight: 700;
 border: #107474 1px;
}

.build_btn:hover{
  background-image: linear-gradient(270deg, #107474, #032121);
  border: #107474 1px;
  transition: background-image 0.50s;
}

.mob_quote_text{
 position: absolute;
 bottom: 5%;
 width: 100%;
 background-color: rgba(6, 61, 61, 0.6);
}

.mob_quote_text figure{
 width: 80%;
 margin: 20px auto;
}

.mob_quote_text figcaption{
 text-align: right;
 font-weight: 600;
}

.screen_nav{
 display: none;
}


/* buildinig dreams for small screen style here */
.building_dreams{
 position: relative;
 background-color: var(--white);
 padding: 50px auto;
}

.building_dreams h1,p,h5,a{
 color: var(--purple);
}

.building_dreams_topic{
 width: 100%;
 position: relative;
 /* background-color: rgba(6, 61, 61, 0.6); */
 margin: auto;
 padding: 20px 20px 0px 20px;

}
.building_dreams_topic h1{
 width: 100%;
 text-transform: uppercase;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 700;
 font-size: 2em;
 text-align: left;
 margin-left: -2%;
 margin-bottom: -8px;
 color: var(--green);
 letter-spacing: -0.01em;
}


.building_dreams_word{
 font-size: 1.5em !important; 
 font-weight: 700 !important;
 color: #252f53;
}


.building_dreams_text{
 width: 90vw;
 font-size: 1em;
 text-align: justify;
 margin: 30px;
 margin-left: 10px;
}

.building_dreams_img{
 width: 100%;
 align-self: center;
 padding: 0px 40px 40px 20px;
}
.building_dreams_img h5{
 text-align: center;
}

.building_dreams_img img{
 margin: auto;
 width: 90%;
}

#small_view{
 display: none;
}

/* Proejcts Who are we styling for small screens */
.project_introduction{
 padding-top: 30px;
}

.who_we_are{
 position: absolute;
}

.who_we_are h3{
 text-align: center;
}

.who_we_are_topic{
 position: relative;
 text-transform: uppercase;
 margin-top: 10px;
 margin-left: 10px;
}

#topic_project span {
 font-family:'Times New Roman', Times, serif;
 font-size: 60px;
}
#topic_your{
 margin-top: 2px
}
#topic_project{
 margin-top: -30px;
}

.who_we_are_quote p{
 color: var(--white);
 font-size: 0.7em;
 padding: 10px 30px;
}

.who_we_are_quote{
 background-color: rgba(6, 61, 61, 0.6);
 border-top-left-radius: 40px;
 border-bottom-right-radius: 40px;
 width: 70%;
 margin-left: 50px;
 margin-top: 20%;
 text-align: left;
}

.who_we_are_img{
 position: absolute;
 z-index: -1;
 top: 40%;
 left: 10%;
 width: 80vw;
}

.who_we_are_img img{
 width: 100%;
 margin-bottom: 20px;
}





/* small tablets 620 - 959px*/
@media screen and (min-width: 620px){
 .toggle_icon{
  display: none;
 }
 .mhpNav{
  /* z-index: ; */

 }


 .screen_nav{
  background-color: rgba(6, 61, 61, 0.6);
  width: 100%;
  display: inline;
  position: absolute;
  left: 0;
  margin: 0px auto 0px auto;
 }


 .screen_nav ul{
  width: auto;
  list-style-type: none;
  margin: 0px auto 0px auto;
  
 }

 .screen_nav li{
  float: left;
  padding: 10px;
  
 }

 .screen_nav li a{
  color: #e4e8ea;

 }


 #screen_nav_socials{
  margin-left: 30px;
 }


 #screen_nav_socials a{
  padding: 1px;
  color: black !important;
 } 


.mhp_logo{
 position: relative;
 left: 40%;
 width: 100%;
}


 .mhp_home_mobile img{
  position: relative;
  width: 100vw;
  left: 0%;
 }

.mob_home_button {
 position: absolute;
 top: 40%;
 left: 45%;
}

.mob_quote_text{
 background-color: rgba(3, 31, 31, 0.6);
 width: 50%;
 bottom: 5%;
 left: 10;
}

 .mob_left_view h1 {
  font-size: 4em;
  color: white;
  font-weight: 100;
 }

 .building_dreams{
  padding-top: 30px;
 }

 .building_dreams_topic{
  position: absolute;
  margin-left: 40px;
 }

 .building_dreams_topic h1{
  font-family: mhpFonts;
  font-size: 50px !important;
  font-weight: 100 !important;
 }

 .building_dreams_text {
  position: relative;
  width: 30%;
  left: 50%;
 }

 .one_at{
  margin-left: 30px !important;
 }

.a_time {
 margin-left: 60px !important;
}

.building_dreams_img{
 margin: 100px auto 0px auto;
}

.building_dreams_img h5{
 margin: 20px auto;
 width: 30%;
}

/* Proejcts Who are we styling for tablets screens */
.who_we_are h3 {
 font-size: 2.5em;
}

.who_we_are_topic h1{
 font-size: 2em;
}

#topic_project span {
 font-size: 80px;
}

#topic_your {
 margin-top: -4px
}

#topic_project {
 margin-top: -50px;
}

.who_we_are_quote p {
 color: var(--white);
 font-size: 1.5em;
 padding: 20px 40px;
}

}
/* tablets and Laptops */
@media screen and (min-width: 960px) {
 .mhp_logo {
   position: relative;
   left: 0;
   width: 40%;
  }

 .screen_nav {
  display: inline;
  position: absolute;
  background-color: rgba(6, 61, 61, 0);
  width: 100%;
  left: 50%;
  margin-top: -60px;
 }

 #screen_nav_socials a {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: smaller;
  /* color: black; */
 }

 .mhp_home_mobile img {
  position: relative;
  width: auto;
  height: 90vh;
  margin-top: -90px;
  /* top: 200%;*/
  left: 50%; 
 }

 .mob_quote_text {
  background-color: rgba(3, 31, 31, 0);
  width: 30%;
  bottom: 5%;
  left: 20%;
 }

 .mob_left_view h1 {
  font-size: 7em;
  color: white;
  font-weight: 100;
 }

  .mob_left_view{
   margin-top: -100px;
   margin-left: 20px;
  }

  /* Proejcts Who are we styling for Laptops screens */
  .who_we_are h3 {
   margin-top: 20px;
   font-size: 3em;
  }
 
  .who_we_are_topic h1 {
   font-size: 4em;
   font-weight: 100 !important;
  }
 
  #topic_your{
   margin-top: -2px;
   margin-left: 50px;
  }
 
  #topic_project {
   margin-top: -10px;
   margin-left: 100px;
  }

  .who_we_are_img{
   left: 58%;
   top: 10%;
   width: 40%;

  }

  .who_we_are_quote{
   margin-top: 150px;
   margin-left: 200px;
   width: 40%;
  }
 
  .who_we_are_quote p {
   color: var(--white);
   font-size: 1em;
  }

}


/* Desktops */
@media screen and (min-width: 1200px) {
 .toggle_icon {
   display: none;
  }
}